
body{
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    gap: 20px;
}
#baner {
    background-color: grey;
    color: gainsboro;
    text-align: justify;
    height: 150px;
    width: 100%;
}
main {
    background-color: darkgray;
    color: darkslategrey;
    height: 80%;
    width: 100%;
    display: flex;
    gap: 20px;

}
#pblok, #dblok, #tblok{
    background-color: darkgray;
    color: darkslategrey;
    flex: 1 1 300px;
    padding: 20px;
    box-sizing: border-box;
    flex: 0 0 auto;

}
footer {
    background-color: black;
    color: white;
    height: 100px;
    width: 100%;
    flex: 0 0 auto;
}
table {
    top: 50%;
    float: right;
    transform: translateY(-50%); 
}
td {
    margin: 20px;
    padding: 20px;
    
}
td:hover {
    background-color: darkgrey;
}

